body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/images/m01.jpg");
  background-position: center;
  background-size: 2500px 2000px;
  background-repeat: no-repeat;
}
